:root {
  --background: rgb(15, 18, 26);
  --background-2: rgb(25, 28, 36);
  --background-3: rgb(33, 36, 45);
  --background-4: rgb(45, 49, 60);
  scrollbar-color: var(--background-3) var(--background);
}

html {
  color: white;
  box-sizing: border-box;
  font-family: SF Pro Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: var(--background);
  margin: 0 auto;
  text-align: center;
  max-width: 802px;
  padding: 0 10px;
}

.statusPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.statusPage h1 {
  font-size: 6rem;
  margin: 0 0 1rem 0;
  padding-top: 50px;
}

.statusPage h2 {
  font-size: 3rem;
  margin: 0;
  color: hsl(343, 60%, 50%);
  padding: 10px;
}

#discord-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#discord-container discord-widget {
  width: 100%;
  max-width: 400px;
}

/* Responsive adjustments */
@media screen and (max-width: 540px) {
  body {
    font-size: smaller;
  }

  .statusPage h1 {
    font-size: 5rem;
	padding-top: 50px;
  }

  .statusPage h2 {
    font-size: 2rem;
	color: hsl(343, 60%, 50%);
	padding: 10px;
  }
}